@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
#content{
    max-width: 1600px;
    margin: auto 0;
}
nav a{
    text-align: center;
}
#hero-msg h1{
text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: antiquewhite
}
body{
    background-color:rgb(63, 214, 126);
    font-family: 'Itim', cursive;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: azure;
}
nav a:hover{
    background-color: beige;
    color: rgb(45, 202, 84);
}
.book{
    background-color: black;
}
.join{
    background-color: blue;
}
.book:hover{
    background-color: blueviolet;

}
.join:hover{
    background-color: blueviolet;

}
.msg{
    background-color: aliceblue;
}
footer{
    background-color: brown;
    padding: 25px 50px;
}
nav a{
    color: rgb(48, 111, 167);
    text-decoration: none;
    padding: 35px;
}
.home-title{
    color: aqua;
    font-size: 2em;
    font-family: 'Kaushan Script', cursive;
    margin-top: 10px;
}
h4{
    color: rgb(212, 104, 71);
    font-family: 'Kaushan Script', cursive;
}
.book{
    color:aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    color: azure;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    color: blueviolet;
}
.join:hover{
    color: azure;
}
.msg h2{
    color: rgb(238, 94, 37);
}
.msg{
    line-height: 1.5em;
    padding: 35px;
}
.msg p{
    color: blueviolet;
    font-size: .8em;
    padding-bottom: 15px;
}
msg p{
    color: brown;
}
footer h3{
    color: blueviolet;
}
footer a{
    color: brown;
    text-decoration: none;
}
footer a:hover{
    color: aliceblue;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer h3 a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
    margin-top: 200px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #d9c2a3;
    border-color: aquamarine;
}
main section img{
    box-sizing: border-box;
}